<a href="https://colab.research.google.com/github/Brojas1/FSP/blob/main/Copy_of_Food_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
sales_prediction = "/content/sales_predictions.csv"

In [5]:
df = pd.read_csv(sales_prediction)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
rows = len(df)
columns = len(df.columns)
print(rows)
print(columns)

8523
12

In [12]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [11]:
df = df.replace({'LF': 'Low Fat', 'reg': 'Regular', 'low fat': 'Low Fat'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
df.duplicated()
df.drop_duplicates()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
df.isna()

      Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
0               False        False  ...        False              False
1               False        False  ...        False              False
2               False        False  ...        False              False
3               False        False  ...        False              False
4               False        False  ...        False              False
...               ...          ...  ...          ...                ...
8518            False        False  ...        False              False
8519            False        False  ...        False              False
8520            False        False  ...        False              False
8521            False        False  ...        False              False
8522            False        False  ...        False              False

[8523 rows x 12 columns]

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
iw = df["Item_Weight"].fillna(df["Item_Weight"].mean())

In [ ]:
os = df["Outlet_Size"].fillna("Medium")

In [ ]:
df["Item_Weight"] = iw
df["Outlet_Size"] = os

In [ ]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
# 5) I averaged out the data because it was the best I could do.

In [ ]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
df["Item_Fat_Content"].str.lower()

#Outlet_Size
#Outlet_Size
#Outlet_Type

0       low fat
1       regular
2       low fat
3       regular
4       low fat
         ...
8518    low fat
8519    regular
8520    low fat
8521    regular
8522    low fat
Name: Item_Fat_Content, Length: 8523, dtype: object

In [ ]:
df["Item_Type"].str.lower()

0                       dairy
1                 soft drinks
2                        meat
3       fruits and vegetables
4                   household
                ...
8518              snack foods
8519             baking goods
8520       health and hygiene
8521              snack foods
8522              soft drinks
Name: Item_Type, Length: 8523, dtype: object

In [ ]:
df["Outlet_Size"].str.lower()

0       medium
1       medium
2       medium
3       medium
4         high
         ...
8518      high
8519    medium
8520     small
8521    medium
8522     small
Name: Outlet_Size, Length: 8523, dtype: object

In [ ]:
df["Outlet_Type"].str.lower()

0       supermarket type1
1       supermarket type2
2       supermarket type1
3           grocery store
4       supermarket type1
              ...
8518    supermarket type1
8519    supermarket type1
8520    supermarket type1
8521    supermarket type2
8522    supermarket type1
Name: Outlet_Type, Length: 8523, dtype: object

In [ ]:
df["Item_Weight"].min()

4.555

In [ ]:
df["Item_Weight"].max()

21.35

In [ ]:
df["Item_Weight"].mean()

12.857645184136409

In [ ]:
df["Item_Visibility"].min()

0.0

In [ ]:
df["Item_Visibility"].max()

0.328390948

In [ ]:
df["Item_Visibility"].mean()

0.06613202877895127

In [ ]:
df["Item_MRP"].min()

31.29

In [ ]:
df["Item_MRP"].max()

266.8884

In [ ]:
df["Item_MRP"].mean()

140.9927819781768

In [ ]:
df["Outlet_Establishment_Year"].min()

1985

In [ ]:
df["Outlet_Establishment_Year"].max()

2009

In [ ]:
df["Outlet_Establishment_Year"].mean()

1997.8318667135984

In [ ]:
df["Item_Outlet_Sales"].min()

33.29

In [ ]:
df["Item_Outlet_Sales"].max()

13086.9648

In [ ]:
df["Item_Outlet_Sales"].mean()

2181.2889135750365